[Unit]
Description=GoodFields Web Application
After=network.target

[Service]
Type=simple
User=docker
WorkingDirectory=/home/docker/goodfields.io
ExecStart=/bin/bash /home/docker/goodfields.io/ops/systemd/goodfields-start.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
